@import "tailwindcss";

@font-face {
  font-family: "Roboto";
  src: url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
}

html,
body {
  height: 100%;
  width: 100%;
}

.img {
  width: 300px;
  height: 250px;
}
