@import "tailwindcss";
* {
  box-sizing: border-box;
  font-family: sans-serif;
}

@font-face {
  font-family: Open;
  src: url("https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
}

html,
body {
  height: 100%;
  width: 100%;
}

.img {
  width: 300px;
  height: 250px;
}
